<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>每日必应 -高清壁纸精美图片</title>
    <meta name="description" content="每日必应bing精选壁纸" />
    <meta name="author" content="刘白菜" />
    <link
      href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="app">
      <h1>每日必应，精选高清壁纸精美图片</h1>
      <p><%= message %></p>
      <div class="container-fluid">
        <div class="row">
          <% images.forEach(function(image){ %>
          <div class="item">
            <div class="card" style="margin: 5px;">
              <img class="img-responsive" src="<%= image.thumbnailUrl %>" />
              <div class="description" style="padding: 5px;">
                <h5><%= image.copyright %></h5>
                <p class="calendar">
                  <i class="icon icon-calendar"></i
                  ><em class="t"
                    ><%= dateFormat(parse(image.endDate), 'yyyy/mm/dd') %></em
                  >
                </p>
              </div>
              <div class="options" style="padding: 5px;">
                <a
                  href="/download?key=<%= image.id %>"
                  target="_blank"
                  type="button"
                  class="btn btn-default btn-sm"
                  >下载(<%= image.downloadCount %>)</a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div>
          <% if(paginator){ %> <%- paginator.render() %> <% } %>
        </div>
      </div>
    </div>
    <div id="footer">
      <a href="http://www.beian.miit.gov.cn">京ICP备14022168号-1</a>
    </div>
  </body>
</html>
