<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>每日必应 -高清壁纸精美图片</title>
    <meta name="description" content="每日必应bing精选壁纸" />
    <meta name="author" content="刘白菜" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
            line-height:30px;
            color:#333333;
            padding: 20px;
        }
        .container-fluid .item {
            display: inline-block;
            height: auto;
            padding: .1rem;
            position: relative;
            border: none;
            width: 300px;
        }

        .container-fluid .item .card {
            display: block;
            height: 100%;
            background: #dedede;
            position: relative;
            /*cursor: -webkit-zoom-in;*/
            /*cursor: zoom-in;*/
        }

        .container-fluid .item .card img {
            width: 100%;
            border: 0;
        }

        .container-fluid .item .card .options {
            font-size: .12rem;
            position: absolute;
            right: .05rem;
            bottom: .05rem;
            padding: .05rem;
            display: block;
            text-align: right;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            opacity: 1;
            z-index: 3;
        }

        .container-fluid .item .card .description {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            padding: .05rem;
            display: block;
            color: #fff;
            opacity: 1;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            z-index: 1;
            pointer-events: none;
        }
    </style>
</head>
<body>
<h1>每日必应，精选高清壁纸精美图片</h1>
<p><%= message %></p>
<div class="container-fluid">
    <div class="row">
        <% images.forEach(function(image){ %>
        <div class="item">
            <div class="card" style="margin: 5px;">
                <img class="img-responsive" src="<%= image.thumbnailUrl %>">
                <div class="description" style="padding: 5px;" >
                    <h5><%= image.copyright %></h5>
                    <p class="calendar"><i class="icon icon-calendar"></i><em class="t"><%= dateFormat(parse(image.endDate), 'yyyy/mm/dd') %></em></p>
                </div>
                <div class="options" style="padding: 5px;">
                    <a href="/download?key=<%= image.id %>" target="_blank" type="button" class="btn btn-default btn-sm">下载(<%= image.downloadCount %>)</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div>
        <% if(paginator){ %>
        <%- paginator.render() %>
        <% } %>
    </div>
</div>
</body>
</html>